body {
  font-family: "Google Sans", arial, sans-serif;
  background: #f9f6ff;
}

h1 {
  color: #878787;
  font-size: 28px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: #878787;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

small {
  padding-left: 10px;
}

.wrapper {
  max-width: 800px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 7px;
  background: #ffffff;
}

.search-form {
  margin: 10px 10px 30px 10px;
}

.current-temperature img {
  position: relative;
  top: -10px;
  width: 60px;
  height: 60px;
}

.current-temperature strong {
  color: rgb(33, 33, 33);
  display: inline;
  font-size: 48px;
  font-weight: 400;
  line-height: 1;
}

.current-temperature .units {
  position: relative;
  font-size: 14px;
  top: -25px;
}

.current-temperature .active {
  color: black;
  cursor: default;
}

.current-temperature .active:hover {
  text-decoration: none;
}

.celsius {
  text-decoration: none;
}

.fahrenheit {
  text-decoration: none;
}

.celsius:hover {
  text-decoration: underline;
}

.fahrenheit:hover {
  text-decoration: underline;
}

.current-city {
  margin-left: 10px;
  padding-right: 0;
}

.current-temperature {
  padding: 0;
}

.current-data {
  padding: 0;
}

.btn {
  background: #f48db4;
  color: #fff;
  transition: all 200ms ease-in-out;
  border: 1px solid #f48db4;
}

.btn:hover {
  background: transparent;
  color: #f48db4;
  border: 1px solid #f48db4;
}
