body {
  font-family: "Sarabun", sans-serif;
  background: #f9f8ff;
}

h1 {
  color: #288684;
  font-size: 28px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: #288684;
  opacity: 0.6;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
}

small {
  padding-left: 10px;
}

input.search-query {
  background-color: #f9f8ff;
  border-color: #8795ff;
}

.wrapper {
  max-width: 800px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #8795ff;
  border-radius: 7px;
  background: #ffffff;
}

.search-form {
  margin: 10px 10px 30px 10px;
}

.current-temperature img {
  position: relative;
  top: -10px;
  width: 60px;
  height: 60px;
}

.current-temperature strong {
  color: black;
  display: inline;
  font-size: 48px;
  font-weight: 400;
  line-height: 1;
}

.current-temperature .units {
  position: relative;
  font-size: 14px;
  top: -25px;
}

.current-city {
  margin-left: 20px;
}

.current-temperature {
  padding: 0;
}

.current-data {
  padding: 3px;
}

.btn {
  background: #8795ff;
  color: #fff;
  transition: all 200ms ease-in-out;
  border: 1px solid #8795ff;
}

.btn:hover {
  background: #f9f8ff;
  color: #8795ff;
  border: 1px solid #8795ff;
}

.weather-forecast {
  margin-top: 40px;
  text-align: center;
  color: #288684;
}

.weather-forecast-date {
  font-size: 15px;
  color: black;
  opacity: 0.6;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}
